/*========nullstyles========*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	min-width: 100%;
}

body {
	position: relative;
	color: black;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	/* text-rendering: optimizeLegibility; */
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

svg {
	height: 1em;
	width: 1em;
}

svg path {
	stroke: inherit;
	fill: inherit;
}

/*========nullstyles========*/
input {
	max-width: 100%;
	background-color: #f5f5f5;
	padding: 0.15rem 0.5rem;
	min-height: 40px;
	border-radius: 6px;
	outline: none;
	border: none;
	line-height: 1.15;
	box-shadow: 0px 10px 20px -18px;
	margin-bottom: 20px;
	text-align: center;
}

input:focus {
	border-bottom: 2px solid #5b5fc7;
	border-radius: 4px 4px 2px 2px;
}

input:hover {
	outline: 1px solid lightgrey;
}

.popup {
	display: none;
	border-radius: 20px;
	background-color: #c8dd4e;
	padding: 30px;
	max-width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup.active {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

button{
	background: #8449bf;
	padding: 10px;
	color: white;
	border-radius: 6px;
}

ul {
	width: 100%;
	height: 100%;
	position: relative;
	border: 1px solid black;
	background: #7a38bc;
	/* Для визуального представления карты */
}

li {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	margin: 10px;
	padding-left: 10px;
}
